/* General styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.2em;
}

input {
  font-size: 16px;
  margin: 0 auto;
  width: 80%;
}

/* header and search box */
.header {
  min-height: 10%;
  width: 100%;
}

.header_inner {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.menu_box {
  display: none;
  width: 20%;
}

.search_box {
  margin: 20px auto 0 auto;
  width: 80%;
}

/* location menu and items */
#places {
  background-color: #fff;
  margin: 0 auto;
  width: 200px;
  z-index: 10;
}

/* list menu */
.places_menu {
  display: none;
}

.locations_list {
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.locations_item {
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  display: inline block;
  padding: 5px 0 5px 15px;
  text-align: center;
  text-transform: uppercase;
}

.locations_item:hover {
  background-color: #fe7569;
}

.selected {
  background-color: #6b98ff;
}

/* map */
.map_container {
  height: 90%;
  margin: 0 auto;
}

#map {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/* hide infowindows from view */
/* contains infowindow templates */
.infowindow {
  display: none;
}

/* Yelp infowindow */
.yelp_infowindow {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.img_container {
    margin: 0;
    order: 1;
    padding: 0;
    width: 50%;
}
.yelp_img {
    height: 100px;
    width: 100px;
}
.yelp_data {
    margin: 0;
    order: 2;
    padding: 0;
    width: 50%;
}
.rating_container {
    margin: 0;
    order: 3;
    padding: 0;
    width: 50%;
}
.yelp_rating {
    height: 17px;
    width: 84px;
}
.link_container {
    margin: 0;
    order: 4;
    padding: 0;
    width: 50%;
}

/* smaller screens */
@media screen and (max-width: 450px){
  .menu_box {
    display: block;
  }

  /* locations menu and items */
  #places {
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-202px, 0);
    transform: translate(-202px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  #places.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .locations_item {
    display: list-item;
    text-align: left;
  }

  .places_menu {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 30px;
  }

  /* map */
  .map_container {
    width: 100%;
  }

  /* yelp */
  .yelp_infowindow{
    width: 100%;
  }

  .yelp_data {
    padding-left: 2px;
    width: 48%;
  }
}

/* larger widths */
@media screen and (min-width: 451px){
  body {
    display: flex;
    flex-wrap: wrap;
  }

  .menu_box {
    display: none;
  }

  .header {
    order: 1;
  }

  /* locations menu and items */
  .locations_item {
    display: list-item;
    text-align: left;
  }

  #places {
    background-color: #fff;
    order: 2;
    width: 30%;
  }

  /* map */
  .map_container {
    order: 3;
    width: 70%;
  }
}
