/* height/width from Stackoverflow so the google map
   would display at 100% height
*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.2em;
}

input {
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.menu__box {
  display: none;
  width: 20%;
}

.search__box {
  margin: 20px auto 0 auto;
  width: 80%;
}

.locations__menu {
  display: none;
}

.locations__item {
  display: inline block;
  padding: 5px 0 5px 15px;
  text-align: center;
  text-transform: uppercase;
}

#locations {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 450px){
  .menu_box {
    display: block;
  }

  #locations {
    background-color: #fff;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-202px, 0); 
    transform: translate(-202px, 0); 
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
    width: 200px;
    z-index: 10;
  }

  #locations.open {
    -webkit-transform: translate(0, 0); 
    transform: translate(0, 0); 
  }

  .locations__list {
    border: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .locations__item {
    border-bottom: 1px solid #E0E0E0;
    display: list-item;
    text-align: left;
  }

  .header {
    min-height: 10%;
    width: 100%;
  }

  .header__inner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .locations__menu {
    display: inline-block;
    padding: 1em;
    text-align: center;
    width: 30px;
  }

  .map_container {
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #map {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 451px){
  body {
    display: flex;
    flex-wrap: wrap;
  }

  .menu_box {
    display: none;
  }

  .header {
    order: 1;
    min-height: 10%;
    width: 100%;
  }

  .header__inner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .locations__list {
    border: 1px solid #e0e0e0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .locations__item {
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    display: list-item;
    text-align: left;
  }

  .locations__item:hover {
    background-color: #fe7569;
  }

  .selected {
    background-color: #6b98ff;
  }

  #locations {
    background-color: #fff;
    order: 2;
    width: 30%;
  }

  .map_container {
    order: 3;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 70%;
  }

  #map {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}
